main{
    background-color: #ebebeb;
}
/* PRODUTOS SELECIONADOS */
.col4{
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.col>*{
    cursor: pointer;
    transition: all 0.2s;
}
.col>*:hover{
    transform: translateY(-5px);
}
.estrelas{
    color:#004c94;
}
.titulo{
    text-align: center;
    margin: 4rem;
    font-size:1.8;
}
.underline{
    width: 100px;
    height: 5px;
    background-color: #004c94;
    border-radius: 9999pc;
    margin: 8px auto 0 auto;
}
.product{
    color:#2c2c2c;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
}
.nome_produto{
    font-weight: 600;
}
.segundo{
    flex-direction: row-reverse;
}
.segundo p, .segundo h2{
    color:#f9f9f9
}
.segundo img{
    width: 500px;
}

@media (max-width: 768px){
     .botao {
        flex-direction: column;
        padding: 2rem;
    }

    .btne, .btnd {
        flex-basis: 100%;
        text-align: center;
    }

    .btnd img {
        margin-top: 2rem;
    }
    .col-3{
        grid-template-columns: repeat(1,1fr);
    }
    .col4{
        grid-template-columns: repeat(2,1fr);
    }
    .segundo{
        flex-direction: column-reverse;
    }
    .segundo img {
        margin-top: 2rem;
    }
}